/* NAV */
nav {
    display:flex;
    gap: 2rem;
    padding: 2rem;
    font-size: 2rem;
}

nav .proyectoElegido {
    background-color: blue;
    color: white;
}

.divFormularioProyecto {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    

    padding: 2rem;
    background-color: yellowgreen;
    border-style: solid;
    border-color: black;
    border-width: 1rem;

    color: darkblue;
}

main {
    border-style: solid;
}

.divFormularioTarea {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    

    padding: 2rem;
    background-color: yellowgreen;
    border-style: solid;
    border-color: black;
    border-width: 1rem;

    color: darkblue;
}

/* MAIN */
main .tareaTarjeta {
    border-style: solid;
}

main .tareaTarjeta.prioridadAlta {
    background-color: red;
}

main .tareaTarjeta.prioridadMediana {
    background-color: yellow;
}

main .tareaTarjeta.prioridadBaja {
    background-color: green;
}