@font-face {
    font-family: "Raleway-Medium";
    src: url("./Raleway-VariableFont_wght.ttf") format('truetype');
}

:root {
    --violeta-muy-oscuro: rgb(40, 0, 75);
    --violeta-oscuro: rgb(50, 0, 100);
    --violeta: rgb(64, 0, 128);
    --violeta-suave: rgb(128, 0, 255);
    --violeta-muy-suave: rgb(192, 128, 255);
    --violeta-casi-blanco: rgb(229, 204, 254);

    --naranja: rgb(255, 128, 0);
    --naranja-oscuro: rgb(255, 60, 0);

}

* {
    font-family: "Raleway-Medium";
}

body {
    display: grid;

    margin: 0;
    padding: 0;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content, 1fr, min-content;

    background-color: var(--violeta);
}

h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: var(--violeta);
    color: var(--naranja);
}

/* NAV */
nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;

    padding: 1rem;
    background-color: var(--violeta);
    font-size: 2rem;
    color: var(--violeta-casi-blanco);
}

nav .tareasSueltas {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

nav .porVencimiento {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    
    /* border-top-style: dotted;
    border-color: violet; */
}

nav .porVencimiento > div {
    padding: 1rem;
    border-radius: 1rem;
}

nav .proyectos {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--violeta-oscuro);
}

nav .proyectoNav {
    padding: 1rem;
    border-radius: 1rem;

    color: var(--violeta-muy-suave);
}

nav .proyectoElegido {
    background-color: var(--violeta-suave);
    color: var(--violeta-casi-blanco);
}

nav .proyectos .tituloProyectos {
    margin-bottom: 1rem;
    font-weight: bold;
}

nav .proyectos .comandoProyectos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--violeta-muy-oscuro);
}

nav .proyectos .comandoProyectos .proyectoNuevo {
    margin-bottom: .5rem;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--naranja);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

nav .proyectos .comandoProyectos .eliminarTodo {
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--naranja-oscuro);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

.proyectoNuevo:hover,
.eliminarTodo:hover {
    box-shadow: 0 0 1rem var(--violeta-casi-blanco);
}

.divBlured {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
}

.divFormularioProyecto {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr;
    
    gap: 1rem;
    padding: 2rem;
    
    background-color: var(--violeta-muy-oscuro);
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--naranja);
    border-width: 0.3rem;
    
    color: var(--violeta-muy-suave);
    font-weight: bold;
}

.divFormularioProyecto input {
    padding: 0.5rem;
    border-style: none;
    border-radius: 1rem;
    background-color: var(--violeta);
    color: var(--violeta-casi-blanco);
    font-weight: bold;
    font-size: 1.5rem;
}

.divFormularioProyecto .botonCrearProyecto {
    margin: 1rem;
    margin-bottom: 0;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--naranja);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

.divFormularioProyecto .botonCancelar {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--naranja-oscuro);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

.divFormularioProyecto .botonCrearProyecto:hover,
.divFormularioProyecto .botonCancelar:hover {
    box-shadow: 0 0 1rem var(--violeta-casi-blanco);
}

/* MAIN */
main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    box-shadow: 0 0 1rem rgb(0, 0, 0);
    border-radius: 1rem;
    background-color: var(--violeta-muy-suave);
}

main .comandoTareas {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;

    margin: 0;
    padding: 1rem;

    border-radius: 1rem;
    background-color: var(--violeta-muy-suave);
    
    color: var(--violeta);
    font-weight: 300;
}

main .comandoTareas h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main .comandoTareas .eliminarProyecto {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;

    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--naranja-oscuro);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

main .comandoTareas .eliminarProyecto:hover {
    box-shadow: 0 0 1rem var(--violeta);
}

main .tareaTarjeta {
    margin: 1rem;
    padding: .5rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--violeta-muy-oscuro);
    color: var(--violeta-muy-oscuro);
    font-weight: bold;
}

main .botonVerEditar {
    margin-top: 0.5rem;

    border-radius: 1rem;
    border-color: var(--violeta-muy-oscuro);

    background-color: var(--violeta);
    color: var(--violeta-casi-blanco);
    font-weight: bold;
}

main .botonVerEditar:hover {
    box-shadow: 0 0 1rem var(--violeta-casi-blanco);
}

main .tareaTarjeta h3 {
    margin-top: 0;
}

main .tareaTarjeta.prioridadAlta {
    background-color: var(--naranja-oscuro);
}

main .tareaTarjeta.prioridadMediana {
    background-color: var(--naranja);
}

main .tareaTarjeta.prioridadBaja {
    background-color: green;
}

/* FORMULARIO VER EDITAR */

main .formularioVerEditar {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat (5, max-content );

    font-size: 1.3rem;
}

main .formularioVerEditar .labelTitulo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-weight: bold;
}

main .formularioVerEditar #titulo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--violeta);
    color: var(--violeta-muy-suave);
    font-size: 1rem;
    font-weight: bold;
}

main .formularioVerEditar .divPrioridadVencimiento {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

main .formularioVerEditar .fieldsetPrioridad {
    grid-column: 1 / 2;

    margin-top: 1rem;
    margin-bottom: 1rem;

    font-weight: bold;
}

main .formularioVerEditar .leyendaPrioridad {
    font-weight: bold;
}

main .formularioVerEditar .divVencimiento {
    grid-column: 2 / 3;
    justify-self: start;
    
    display: flex;
    flex-direction: column;
}

main .formularioVerEditar .labelVencimiento {
    margin: 1rem;

    font-weight: bold;
}

main .formularioVerEditar #vencimiento {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--violeta);
    color: var(--violeta-muy-suave);
    font-size: 1rem;
    font-weight: bold;
}

main .formularioVerEditar .labelDescripcion {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    margin-top: 1rem;
    margin-bottom: 1rem;

    font-weight: bold;
}

main .formularioVerEditar #descripcion {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--violeta);
    color: var(--violeta-muy-suave);
    font-size: 1rem;
    font-weight: bold;
}

main .formularioVerEditar .labelNotas {
    grid-column: 1 / 2;
    grid-row: 5 / 6;

    margin-top: 1rem;
    margin-bottom: 1rem;

    font-weight: bold;
}

main .formularioVerEditar #notas {
    grid-column: 2 / 3;
    grid-row: 5 / 6;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--violeta);
    color: var(--violeta-muy-suave);
    font-size: 1rem;
    font-weight: bold;
}

main .comandoFormulario {
    display: flex;
    justify-content: space-evenly;
}

main .comandoFormulario .guardarCambios {
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--naranja);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

main .comandoFormulario .eliminarTarea {
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--naranja-oscuro);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

main .comandoFormulario .guardarCambios:hover,
main .comandoFormulario .eliminarTarea:hover {
    box-shadow: 0 0 1rem var(--violeta);
}

/* FIN FORMULARIO VER EDITAR */

main .botonCrearTarea {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--naranja);
    color: var(--violeta-muy-oscuro);
    font-size: 1rem;
    font-weight: bold;
}

/* FOOTER */

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    margin: 0;
    background-color: #666666;
    text-align: center;
}
